
# streamlit
# nltk
# streamlit
# nltk
# >>>>>>> 519f79a5d45065e6d3e2cdf2bc42197d28ed43ba
# sklearn

# streamlit==1.30.0

streamlit==1.24.0
numpy==1.26.0
scikit-learn==1.3.2
# scikit-learn
pandas
# numpy
nltk
